@import "tailwindcss";

@layer utilities {
  @keyframes star-movement-bottom {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(-100%, 0%);
      opacity: 0;
    }
  }

  @keyframes star-movement-top {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(100%, 0%);
      opacity: 0;
    }
  }

  .animate-star-movement-bottom {
    animation: star-movement-bottom linear infinite alternate;
  }

  .animate-star-movement-top {
    animation: star-movement-top linear infinite alternate;
  }
}


.absolute.inset-0.z-0 {
  pointer-events: none;
}
